<div class="mt-5">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#alunos">
        <span class="icon"><i class="fas fa-graduation-cap"></i></span>
        Lista de Alunos
      </a>
    </li>
  </ul>


  <h3>FATURAS PAGAS</h3>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor=" let fatura of lista_dos_alunos">
        <tr *ngIf="fatura.dt_pgto!=''">
          <td>{{ fatura.empresa }} </td>
          <td> <span style="color: blue">{{ fatura.valor }}</span> </td>
        </tr>
      </ng-container>
    </tbody>
  </table>


  <div class="tab-content">
    <div id="pago" class="container tab-pane active"><br>
      <h3>FATURAS PAGAS</h3>
      <table class='table table-striped'>
        <tr>
          <td>Fornecedor</td>
          <td>Valor</td>
          <td>DT pagto</td>
        </tr>
        <tr>
          <td>Empresa de Alcool Gel Ltda</td>
          <td>2.560,00</td>
          <td>22/06/2020</td>
        </tr>
        <tr>
          <td>Transportes SA</td>
          <td>1.680,00</td>
          <td>16/11/2020</td>
        </tr>
      </table>
    </div>


  </div>
</div>