<div class="mt-5">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#alunos">
        <span class="icon"><i class="fas fa-graduation-cap"></i></span>
        Lista de Alunos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#faturas">
        <span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>
        Pagamentos Pendentes
      </a>
    </li>
  </ul>

  <br>

  <div class="tab-content">
    <div id="alunos" class="container tab-pane active"><br>
      <h3>Alunos</h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>RU</th>
            <th>Nome do curso</th>
            <th>Data de aniversário</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor=" let aluno of lista_dos_alunos">
            <tr>
              <td>{{ aluno.nome }} </td>
              <td>{{ aluno.ru }}</td>
              <td>{{ aluno.nome_curso }}</td>
              <td>{{ aluno.aniversario }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>


    <div id="faturas" class="container tab-pane fade"><br>
      <h3>Alunos com pendências financeiras</h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>RU</th>
            <th>Nome do curso</th>
            <th>Valor da dívida</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor=" let aluno of lista_dos_alunos">
            <tr *ngIf="aluno.debito>0">
              <td>{{ aluno.nome }} </td>
              <td>{{ aluno.ru }}</td>
              <td>{{ aluno.nome_curso }}</td>
              <td><span style="color: red">{{ aluno.debito | currency:'BRL':true }}</span> </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>


</div>